<mat-toolbar color="primary">
  War Eagle Code<span class="spacer"></span><mat-slide-toggle color="accent" checked="true">Imperial Units</mat-slide-toggle><button mat-button><mat-icon>location_on</mat-icon>{{location}}</button>
</mat-toolbar>
<div class="container weather-row"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0">
  <div fxFlex="33%">
    <mat-card>
      <mat-card-title>Current Weather</mat-card-title>
      <mat-card-content>
        <i class="wu wu-black wu-64 wu-chanceflurries"></i>
        <span class="current">61&deg;F</span>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-spacing">
      <mat-card-title>About War Eagle Code</mat-card-title>
      <mat-card-content>
        <p>
          War Eagle Code consists of three friends within Auburn's CSSE department: Joseph Cauble, Jake Laney, and 
          Jesse "Trey" Roach. We are from Birmingham, Huntsville, and Montgomery, respectively and met at Auburn in a church
          group freshman year. 
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="50%">
    <mat-card>
      <mat-card-title>7-Day Forecast</mat-card-title>
    </mat-card>
    <mat-card class="card-spacing">
      <mat-card-title>Historical Data</mat-card-title>
    </mat-card>
  </div>
  <div fxFlex="17%">
    <mat-card>
      <mat-card-title>Minute-by-Minute</mat-card-title>
    </mat-card>
    <mat-card class="card-spacing">
      <mat-card-title>Hourly Forecast</mat-card-title>
    </mat-card>
  </div>
</div>